
@{
    ViewBag.Title = "XacNhanDH";
    Layout = "~/Views/shopMohinh.cshtml";
}

<h2 style="text-align:center; margin-top:150px;">Đặt hàng thành công</h2>
<div style="text-align:center; padding: 20px 0">
    <a href="@Url.Action("Index", "Home")"><button type="button" class="btn btn-info">Về trang chủ</button></a>
</div>


