
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/shopMohinh.cshtml";
}


<div class="contact-one">
    <div class="contact-img">
        <div class="contact-content">
            <h2>thông tin liên hệ</h2>
            <p>Luôn đáp ứng nguồn hàng chất lượng, minh bạch, rõ ràng, cung cấp cho khách hàng thông tin cụ thể nhất tạo sự tin tưởng</p>

            <a class="btn_ani" href="#" style="--clr:#22e622; --i:0"><span>Xem thêm</span></a>

        </div>
    </div>
    <div class="contact-info">
        <div class="container" style="max-width: 1080px;">
            <div class="contact">
                <div class="row align-items-start">
                    <div class="col">
                        <h2 class="mt-16">Bạn cần được hổ trợ</h2>
                        <p>
                            Đối với bất kỳ những nhận xét, câu hỏi hoặc đề xuất liên quan đến tài khoản của bạn, vui lòng liên hệ với nhóm hỗ trợ của mohinhfigure.
                            <br>
                            <br>
                            sale.mohinhfigure@gmail.com
                        </p>
                        <h3 class="mt-16">Bạn có ý tưởng</h3>
                        <p>Đối với các câu hỏi chung, yêu cầu đối tác, cũng như thông tin liên quan đến phương tiện truyền thông, hãy liên hệ với mohinhfigure</p>
                        <h3 class="mt-16">Bộ phận bán hàng</h3>
                        <p>Đối với các yêu cầu bán hàng liên hệ với nhóm bán hàng của chúng tôi.</p>
                    </div>
                    <div class="col">
                        <h2 class="mt-16 text">Gửi tin nhắn cho chúng mình</h2>
                        <p class="text">Các bạn có thông tin cần liên hệ, hoặc cần hợp tác, các bạn có thể liên hệ qua Zalo, Facebook, Fanpage hoặc để lại thông tin liên hệ ở đây, chúng tôi sẽ liên hệ lại ngay</p>
                        <form class="form">
                            <label>Tên của bạn</label>
                            <input type="text" class="form-control">
                            <label>Địa chỉ Email</label>
                            <input type="email" class="form-control">
                            <label>Số điện thoại</label>
                            <input type="number" class="form-control">
                            <label>Nội dung</label>
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>

                        </form>
                    </div>
                </div>
            </div>
            <div class="contact">
                <div class="row align-items-start">
                    <div class="col">
                        <h3 class="mt-16">Shop Chuyên Bán Mô Hình Figure</h3>
                        <p>Địa chỉ shop : 221/7/37, Đất Thánh, P.6, Quận Tân Bình, TP.HCM</p>
                        <p>Hotline : 0923.867.916</p>
                        <p>Email : mohinhfigure@gmail.com</p>
                        <h3 class="mt-16">Thông Tin Chuyển Khoản</h3>
                        <p>Tên tài khoản: Bùi Bá Trung Tín</p>
                        <p>Ngân hàng Vietcombank</p>
                        <p>Số tài khoản: 0171003487256</p>
                    </div>
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3676134449947!2d106.66001899999999!3d10.7831309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9bec63c5bc43629!2zTcO0IEjDrG5oIEZpZ3VyZQ!5e0!3m2!1svi!2s!4v1655718109237!5m2!1svi!2s" width="520" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>