
@{
    ViewBag.Title = "Handbook";
    Layout = "~/Views/shopMohinh.cshtml";
}

<div class="hand">
    <div class="hand-img">
        <div class="hand-content">
            <h2>Cẩm nang hướng <br> dẫn cho figure</h2>
            <p>Tổng hợp những câu hỏi về figure và các vấn để liên quan đến mô hình</p>
        </div>
    </div>
    <div class="container" style="max-width: 1080px;">
        <div class="hand-blog">
            <p>Đối với những người chơi figure đã không còn quá xa lạ đến với thuật ngữ này. Nhưng còn đối với những người chưa biết hay đang tìm hiểu về loại hình này thì hãy cùng theo dõi bài viết dưới đây để hiểu thêm nhửng cơ bản về figure nhé !</p>
            <h2 class="text-color">Figure là gì ?</h2>
            <p>Được ra đời vào những năm 1964, đến ngày nay dù cho đã trải qua hơn 50 năm phát triển, thế nhưng thì tại Việt Nam, figure vẫn còn khá lạ lẫm. Đối với nhiều người thì figure chỉ là một món đồ chơi dành cho trẻ em. Tuy nhiên thì đằng sau những mô hình đắt tiền đó là những nghệ thuật, mang theo một nền văn hóa và là thú vui của rất nhiều nhà sưu tầm coi trọng giữ gìn.</p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/cam-nang-figurer-1.jpeg" alt="">
            </div>
            <br>
            <p>Theo trong từ điển tiếng anh, thì figure nghĩa là nhân vật tượng trưng, hình minh họa. Có nguồn gốc bắt đầu từ Mỹ. Nhưng dần phát triển nên trong văn hóa Otaku của Nhật Bản. Ban đầu cụm từ figure để chỉ nhựng mô hình mọ phỏng các nhân vật truyện tranh, manga và anime. Nhưng đến nay thì bất kì figure nào cũng có thể là nhân vật trong phim ảnh, thậm chí là cả ngoài đời thực.</p>
            <h2 class="text-color">Figure được tạo ra như thế nào ?</h2>
            <p>
                Đầu tiên, quá trình tạo ra một nhân vật anime rất đa dạng phụ thuộc vào nhân vật nào sẽ được thể hiện, vật liệu nào sẽ được sử dụng, v.v. Đại khái là hiểu một số bước (Tất nhiên nó có thể khác nhau):
                <br>
                Đầu tiên, tất nhiên, cần phải có một hình minh họa khá rõ ràng, đó không phải là ý tưởng một bản vẽ về tác phẩm cuối cùng trông như thế nào
                <br> Ý tưởng này được điêu khắc bằng đất sét hoặc bất kỳ vật liệu dễ uốn nào và do những tiến bộ công nghệ ngày nay một số thậm chí còn được thực hiện bằng mô hình 3D
                <br> Sau đó, khuôn cho mỗi phần của bức tượng (tay, chân, v.v.) được làm từ mô hình cuối cùng làm bằng “Đất sét”, thường những khuôn này là từ silicone và để sản xuất hàng loạt, một số được làm từ thép.
                <br> Các khuôn được sử dụng sau khi đổ vật liệu mà từ đó tạo ra hình, chẳng hạn như PVC, một loại nhựa được đổ nóng lên khuôn và sau đó PVC được làm nguội để nó có thể có hình dạng của hình hoặc một phần
                <br> Sau quá trình làm mát, các bộ phận được sơn có thể được thực hiện bằng máy chải không khí hoặc máy sơn tự động hóa
                <br> Khi sơn đã khô thì hình có thể được lắp ráp mặc dù một số đang được bán theo bộ phận
            </p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/cam-nang-figurer-2.jpeg" alt="">
            </div>
            <br>
            <p>
                Vì vậy, quá trình tạo hình anime là một nghệ thuật hiện nay kết hợp giữa điêu khắc và mô hình 3D. Để tạo ra những tác phẩm nghệ thuật mà tất cả chúng ta yêu thích.
                <br>
                Dưới đây, nó sẽ hiển thị các loại nhân vật anime trước tiên theo chất liệu làm chúng và sau đó theo thiết kế mà chúng tôi cho rằng những đặc điểm này đến đặc điểm của các hình tượng yêu thích của Nhật Bản thực sự thú vị và quan trọng cần biết.
            </p>

            <h1 class="text-color">Phân loại figure phổ biến</h1>
            <h2 class="text-color">Figma</h2>
            <p>
                Một nhân vật anime thực sự đi kèm với chuyển động thực tế, tự nhiên và cũng kết hợp với sự khéo léo và đẹp mắt. Họ là những nhân vật anime dễ thương. Các nhân vật trong anime Figma này có thể điều chỉnh được và bạn có thể di chuyển khớp của chúng vào hầu hết mọi vị trí. Đối với những người hâm mộ anime muốn vẽ, Figma cơ thể đơn giản cho phép bạn phác thảo và nó giúp bạn trở nên giỏi phác họa các nhân vật của con người . Các số liệu Figma tương tự như các số liệu hành động. Chúng có khớp bóng để bạn có thể cử động cánh tay, chân và thậm chí cả đầu của chúng trong hầu hết các trường hợp. Điều tốt về những loại hình này là bạn thực tế có thể tạo hình chúng ở bất kỳ tư thế nào bạn muốn, do đó chúng thú vị hơn như một món đồ chơi.
            </p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/cam-nang-figurer-4.jpeg" alt="">
            </div>
            <br>
            <h2 class="text-color">Nendoroid</h2>
            <p>
                Nendoroid là những nhân vật hoạt hình anime nhỏ với cái đầu to. Chúng được làm bằng PVC hoặc ABS. Điểm độc đáo của chúng là kích thước nhỏ, cao khoảng 10 cm. Chúng thường có vẻ ngoài dễ thương. Vẻ ngoài và các bộ phận cơ thể khác của chúng có thể hoán đổi cho nhau, tạo cho chúng một phạm vi các khớp và tư thế có thể hình dung được. Chúng được sử dụng như một món đồ chơi và được các nhà sưu tập nhân vật anime thu thập.
            </p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/cam-nang-figurer-5.jpeg" alt="">
            </div>
            <br>
            <h2 class="text-color">Action figure</h2>
            <p>
                Mô hình Action Figure là mô hình linh hoạt. Các figure có các khớp nối để có thể tạo ra những tư thế hành động khác nhau và có thể đi kèm với các phụ kiện, chẳng hạn như quần áo, công cụ, vũ khí và phương tiện. Action Figure được tạo ra bằng cách lắp ráp các bộ phận bằng nhựa đúc được làm dựa trên các mô hình mẫu đầu tiên và các mô hình này được điêu khắc bằng tay vô cùng tỉ mỉ.
            </p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/cam-nang-figurer-3.jpeg" alt="">
            </div>
            <br>
            <h2 class="text-color">Revoltech</h2>
            <p>
                Revoltech là dòng sản phẩm tương tự như Figma nhưng thô và chất lượng kém hơn nhiều. Tuy nhiên, giá của Revoltech lại rẻ hơn, nên cũng được rất nhiều người yêu thích lựa chọn. Nổi bật nhất trong dòng Revoltech phải kể tới Transformers, một trong những sản phẩm mang lại sự khởi sắc cho Figure những năm 1980.
            </p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/banner-8-600x451.jpeg" alt="">
            </div>
            <br>
        </div>
    </div>
</div>

