
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/shopMohinh.cshtml";
}

<div class="intro">
    <div class="intro-img">
        <div class="intro-content">
            <h2>giới thiệu về shop mô hình figure</h2>
            <p>Nơi bán mô hình figure uy tín, chất lượng và giá cả phải chăng nhất trên thị trường, hãy cùng đọc thông tin về shop ở dưới đây nhé</p>
        </div>
    </div>
    <div class="container" style="max-width: 1080px;">
        <div class="intro-blog">
            <h2 class="text-center ptb-40 text-color">GIỚI THIỆU CỬA HÀNG MÔ HÌNH FIGURE</h2>
            <h2 class="text-color">MÔ HÌNH FIGURE LÀ 1 SHOP CÓ UY TÍN VÀ ĐƯỢC NHIỀU KHÁCH HÀNG TÍN NHIỆM.</h2>
            <p>Với phương châm kinh doanh hài lòng trước nhận tiền sau, Mô Hình Figure luôn cố gắng mang lại giá sản phẩm ổn định và đảm bảo có nguồn hàng sẵn cho quý khách hàng. Cố gắng vì khách hàng là động lực để cửa hàng cố gắng phát triển</p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/gioi-thieu-1.jpeg" alt="">
            </div>
            <br>
            <h1>ĐẶC BIỆT :</h1>
            <p>&#8226; Mọi qúy khách hàng khi đến với Mô Hình Figure sẽ có những chính sách khuyến mãi liên tục và quyền lợi riêng của khách hàng thân thiết.</p>
            <p>&#8226; Luôn đặt giá trị cốt lõi của shop là sự uy tín và niềm tin về giá cả</p>
            <p>&#8226; Chúng tôi luôn có quan niệm mua bán phải minh bạch rõ ràng nên sẽ có giá niêm yết của cửa hàng và không lên xuống bất thường. ( Trừ các dịp khuyến mãi sản phẩm dành cho khách hàng thân thiết của shop )</p>
            <p>&#8226; Hướng đi của Mô Hình Figure là luôn bán hàng theo giá cả cạnh tranh và tốt nhất trên thị trường mô hình figure Việt Nam, không để giá ảo hay giá độn lên nhằm mục đích câu khách hoặc tạo tiếng tăm ảo.</p>
            <p>&#8226; Mọi qúy khách hàng khi đến với Mô Hình Figure sẽ có những chính sách khuyến mãi liên tục và quyền lợi riêng của khách hàng thân thiết.</p>
            <h2 class="text-color">LUÔN CÓ TÂM TRONG CÔNG VIỆC VÌ CHÚNG TÔI LÀ NHỮNG NGƯỜI CÓ CHUNG SỞ THÍCH SƯU TẬP GIỐNG NHƯ CÁC BẠN !</h2>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/gioi-thieu-2.jpeg" alt="">
            </div>
            <br>
            <h2 class="text-color">Mô hình figure là shop hàng đầu trong lĩnh vực Manga – Anime.</h2>
            <p>
                Nếu bạn là một trong những tín đồ của các bộ truyện manga hay anime thì chắc chắn không thể bỏ qua được những nhân vật mình yêu thích, mong muốn sở hữu và được ngắm nhìn mỗi ngày cũng là cách để giải tỏa tâm trạng rất tốt, những nhân vật đã gắn liên với tuổi thơ các bạn như thám tử Conan, chú mèo máy đến từ tương lại Doreamon, còn các nhân vật cộm cán trong bộ truyện nổi tiếng One Piece, Dragon Ball Z,…. và còn rất nhiều nhân vật trong các bộ truyện khác như Gintama, Kimetsu no Yaiba, SAO, Tokyo Ghoul,..v..,
                Còn nếu bạn là fan ruột của những thước phim hoạt hình Pixar, Disney: ToyStory, Incredible, Wall-e, Ice Age,… hay những bộ phim Hollywood bom tấn như Batman, Avenger, Ironman, Hulk,.. thì bạn cũng không thể bỏ qua vì tất cả đều có tại Figure Store
            </p>
            <p>Còn nếu bạn là fan ruột của những thước phim nổi tiếng đến từ hollywood như Mavell, DC hay các bộ phim nổi tiếng khác thì cũng không thể bỏ qua chúng mình, vì tại Mô Hình Figure đều có sẵn các nhân vật cộm cán nổi tiếng hiện nay nhé !</p>
            <div class="img-blog text-center">
                <img src="~/Asset/Images/gioi-thieu-3.jpeg" alt="">
            </div>
            <br>
        </div>
    </div>
</div>

